<p id="notice"><%= notice %></p>

<h1>Criticals</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Date</th>
      <th>User</th>
      <th>Movie</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @criticals.each do |critical| %>
      <tr>
        <td><%= critical.title %></td>
        <td><%= critical.text %></td>
        <td><%= critical.date %></td>
        <td><%= critical.user %></td>
        <td><%= critical.movie %></td>
        <td><%= link_to 'Show', critical %></td>
        <td><%= link_to 'Edit', edit_critical_path(critical) %></td>
        <td><%= link_to 'Destroy', critical, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Critical', new_critical_path %>
