<div class="my-3 my-md-5">

  <div class="container listFilm">
    <div class="page-header">
      <h1 class="page-title">
        Films Populaire
      </h1>
      <div class="page-options d-flex">
          <a href="/update/movies" class="btn btn-outline-danger"><i class="fe fe-refresh-ccw mr-2"></i>Actualiser les films</a>
      </div>
    </div>
    <div class="row">
      <% @movies.each do |movie| %>
        <div class="col-md-12 col-lg-6">

          <div class="card card-aside">
            <a href="/movies/<%= movie.id %>" class="card-aside-column" style="background-image: url(<%= movie.poster_path %>)">

            </a>

            <div class="card-content">
              <div class="card-header d-flex flex-column align-items-start">
                <a href="/movies/<%= movie.id %>" class="card-title"><%= movie.title%></a>
                <small class="d-block text-muted"><%= movie.release_date.strftime("%m/%d/%Y")%></small>
              </div>
              <div class="card-body d-flex flex-column py-3">
                <div class="text-muted">
                  <%= movie.overview%>
                </div>

              </div>
              <a class="card-footer" href="/movies/<%= movie.id %>">
                Plus d'informations
              </a>
            </div>

          </div>
        </div>

      <% end %>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>

  </div>
</div>
