<div class="my-3 my-md-5">

  <div class="container listFilm">
    <div class="page-header">
      <h1 class="page-title">
        Series Populaire
      </h1>
      <div class="page-options d-flex">
        <div class="form-group">
          <%= form_tag "/tvshows", method: "post", class: "input-group" do %>
            <input type="text" name="search" class="form-control" placeholder="Rechercher une série">
            <span class="input-group-append">
                  <button type="submit" class="btn btn-primary" >Go!</button>
              </span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">

      <%if @tvshows.size == 0 %>
        <div class="col-md-12">
          <div class="alert alert-icon alert-warning" role="alert">
            <i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i>
            Aucun résultat pour  <%= @search %>
          </div>
        </div>
      <% end %>
      <% @tvshows.each do |tvshow| %>
        <div class="col-md-12 col-lg-6">

          <div class="card card-aside">
            <a href="/tvshows/<%= tvshow.id %>" class="card-aside-column" style="background-image: url(<%= tvshow.poster_path %>)">

            </a>

            <div class="card-content">
              <div class="card-header d-flex flex-column align-items-start">
                <a href="/tvshows/<%= tvshow.id %>" class="card-title"><%= tvshow.name%></a>
                <small class="d-block text-muted"><%= tvshow.first_air_date.strftime("%m/%d/%Y")%></small>

              </div>
              <div class="card-body d-flex flex-column py-3">
                <div class="text-muted">
                  <%= tvshow.overview%>
                </div>

              </div>
              <a class="card-footer" href="/tvshows/<%= tvshow.id %>">
                Plus d'informations
              </a>
            </div>

          </div>
        </div>

      <% end %>
    </div>

    <%= paginate @tvshows %>

  </div>
</div>
