<section class="welcome">
  <header class="header">
    <div class="container d-flex align-items-center">
      <a href="/" class="logo">
        <img src="/assets/movieonrails_logo.png" alt="logo" class="logo-image"/>
        MovieOnRails
      </a>
      <div class="menu ml-auto">
        <a href="https://github.com/CNadjim/MovieOnRails">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-1 feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
          Github
        </a>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="welcome-header">
      <h1 class="welcome-title">Movie On Rails</h1>
      <p class="welcome-description">Découvrez, notez et partagez avec vos amis</p>

      <div class="mt-6">
          <%= link_to 'Voir nos films' , movies_path, class:"btn btn-lg btn-pill btn-success" %>
          <%= link_to 'Voir nos séries' , tvshows_path, class:"btn btn-lg btn-pill btn-outline-primary " %>
      </div>
    </div>


    <div class="welcome-browser">
      <div class="col-lg-10 col-md-12 m-auto" >
        <img src="https://tabler.github.io/assets/images/macbook.png" />
        <div class="screen">
          <div id="carousel-captions" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <% @movies.each_with_index do |movie,i| %>
                <% if i == 0 %>
                  <div class="carousel-item active">
                <% else %>
                  <div class="carousel-item">
                <% end %>
                <img class="d-block w-100" alt="" src="<%= movie.backdrop_path %>" data-holder-rendered="true">
                <div class="carousel-item-background d-none d-md-block"></div>
                <div class="carousel-caption d-none d-md-block">
                  <h3><%= link_to movie.title,movie %></h3>
                  <div class="mb-4">
                    <% movie.genres.each do |genre| %>
                      <span class="tag tag-rounded px-3 mr-1 mb-1"><%= genre.name%></span>
                    <% end %>
                  </div>

                </div>
                </div>
              <% end %>
              </div>
              <a class="carousel-control-prev" href="#carousel-captions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-captions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="section pt-7">
  <div class="container">
    <h2 class="section-title">Features</h2>
    <p class="section-description mb-6">
      Tabler comes with tons of well-designed components and features.
    </p>
  </div>
  <div class="container">
    <div class="features">


      <div class="feature">
        <div class="feature-image">
          <img src="https://tabler.github.io/assets/images/features/features-4.png" alt="">
        </div>
        <div class="feature-description">
          <h3 class="feature-name">Open Source Code</h3>
          <p>You can see the code of Tabler on its GitHub account. If you miss any feature feel free to create a pull request there, we'll definitely check it.</p>
          <div class="mt-5">
            <a href="https://github.com/CNadjim/MovieOnRails" class="btn btn-small btn-outline-dark">View source code</a>
          </div>
        </div>
      </div>
      <div class="feature">
        <div class="feature-image">
          <img src="https://tabler.github.io/assets/images/features/features-5.png" alt="">
        </div>
        <div class="feature-description">
          <h3 class="feature-name">Build with Bootstrap</h3>
          <p>Tabler used Bootstrap, the most popular HTML, CSS, and JS framework. Thanks to this developers without experience can modify code without any problems.</p>
        </div>
      </div>
    </div>
  </div>
</section>



<footer class="footer">
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col-md-auto">
        MovieOnRails
        ・ License: MIT
      </div>
    </div>
  </div>
</footer>






